*{
    margin: 0;
    /* border: 1px solid rebeccapurple; */
    /* padding: 0; */
}

header{
}

@font-face{
    font-family:'road';
    src: url(./fonts/oswald-extralight.ttf);
}

.nav-bar{
    display: flex;
    gap: 30px;
    background-color: #222429;
    width: 100%;
    padding-bottom: 40px;

    
}

.nav-box1{
    border: 1px solid #BDBDBF;
    background-color: #BDBDBF;
    padding: 20px 30px 20px 40px;
    width: 100%;
    font-size: 16px;
    color: #222429;
}

.nav-box1 span{
    margin-left: 30px;
}

.nav-box2{
    display: flex;
    gap: 30px;
    margin-top: 40px;
    color: white;
}

.nav-home{
    transition: 0.7s;
    color: #FB5B21;

}

.nav-home:hover{
    color: #FB5B21;
}

.nav-about{
    transition: 0.7s;

}

.nav-about:hover{
    color: #FB5B21;
}

.nav-classes{
    transition: 0.7s;

}

.nav-classes:hover{
    color: #FB5B21;
}

.nav-trainers{
    transition: 0.7s;

}

.nav-trainers:hover{
    color: #FB5B21;
}

.nav-pages{
    transition: 0.7s;

}

.nav-pages:hover{
    color: #FB5B21;
}

.nav-contact{
    transition: 0.7s;

}
.ppp{
    display: flex;
    width: 100%;
}

.nav-contact:hover{
    color: #FB5B21;
}

.nav-join{
    padding: 20px 50px ;
    background-color: #FB5B21;
    color: white;
    margin-left: 210px;
    font-size: 13px;
    border: 1px solid #FB5B21;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 4px;
    font-family: sans-serif;
    width: 100%;
    text-transform: uppercase
}




.nav-gymster{
    font-size: 39px;
    margin-top: 50px;
    color: #FB5B21;
    margin-left: 30px;
    font-family: sans-serif;
}

.header-gym{
    background-image: url(./images/carousel-1.jpg ) ;
    background-position: 50%;
    background-size: cover;
    width: 100%;
    height: 600px;
    position: relative;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    z-index: 1;
    padding-top: 90px;
    padding-bottom: 10px;
    margin-bottom: 100px;

}

.header-gym1{
    margin-top: 100px;
}

.header-gym1 h2{
    margin: auto;
    text-transform: uppercase;
    text-align: center;
    color: white;
}
.header-gym1 h1{
    text-align: center;
    /* color: white; */
    color: #FB5B21;
    font-size: 60px;
    text-transform: uppercase;
}

.header-button{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.header-button1{
 background-color: #FB5B21;
 padding: 20px 50px;
color: white;
font-size: 14px;
font-family: sans-serif;
text-transform: uppercase;
border-radius: 5px;

}

.header-button2{
    padding: 20px 50px;
font-size: 14px;
font-family: sans-serif;
text-transform: uppercase;
border-radius: 5px;
background-color: #F6F7F9;

}

.first-sect{
    margin-bottom: 100px;
}

.about-gymster {
    display: flex;
    gap: 40px;
    width: 95%;
}

.about-gymster img{
    width: 600px;
    /* height: 500px; */
    margin-left: 50px;
}

.about-gymster h3{
    text-transform: uppercase;
    color: #FB5B21;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 500;
}

.about-gymster h2{
    text-transform: uppercase;
    font-size: 60px;
    color: #222429;
    font-family: sans-serif;
    margin-top: 10px;
}

 #about-p1{
    color: #686A6F;
    font-size: 23px;
    font-family: sans-serif;
    margin-top: 10px;
    font-weight: 700;
}

#about-p2{
    color: #686A6F;
    font-family: sans-serif;
    margin-top: 10px;
    width: 100%;
    line-height: 1.4em;
}

.about-us{
    background-color: #222429;
    color: white;
    margin: auto;
    padding: 40px;
    margin-top: 10px;
}

.about-h4{
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    gap: 50px;
}

#about-text{
    border: 1px solid #FB5B21;
    background-color: #FB5B21;
    padding: 10px 90px;
}

.about-us p{
    color: #c8c9ca;
    line-height: 1.4em;
    font-size: 17px;
    width: 89%;
    padding-left: 30px;
    padding-top: 10px;
}

.whychoose-text{
    border: 1px solid ;
    padding: 10px 0px;
    border-style: none;
    color: #FB5B21;
} 


.second-sect{
    margin-bottom: 200px;
    background-color: #222429;
    padding-bottom: 100px;
}
 
.discount-page{
    display: flex;
    width: 95%;
}

.bodybuilding-text{
    border: 1px solid #f4f5f877;
    border-style: none;
    background-image:linear-gradient(#F4F5F8 90%, white) ;
    padding: 30px 1px;
    margin-left: 50px;
}

.bodybuilding-text h2{
    text-align: center;
    font-family: sans-serif;
    font-size: 26px;
}
.bodybuilding-text p{
    text-align: center;
    width: 65%;
    margin: auto;
    margin-top: 10px;
    color: #686A6F;
    line-height: 1.4em;
    font-family: sans-serif;
}

.bodybuilding-text h3{
    text-align: center;
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 20px;
    color: #FB5B21;
}



.weightlifting-text{
    border: 1px solid #f4f5f877;
    border-style: none;
    background-image:linear-gradient(#F4F5F8 90%, white) ;
    padding: 50px 1px;
    margin-left: 50px;
}

.weightlifting-text h2{
    text-align: center;
    font-family: sans-serif;
    font-size: 26px;
}
.weightlifting-text p{
    text-align: center;
    width: 65%;
    margin: auto;
    margin-top: 10px;
    color: #686A6F;
    line-height: 1.4em;
    font-family: sans-serif;
}

.weightlifting-text h3{
    text-align: center;
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 20px;
    color: #FB5B21;
}



.musclebuilding-text{
    border: 1px solid #f4f5f877;
    border-style: none;
    background-image:linear-gradient(#F4F5F8 90%, white) ;
    padding: 50px 1px;
    margin-left: 50px;
}

.musclebuilding-text h2{
    text-align: center;
    font-family: sans-serif;
    font-size: 26px;
}
.musclebuilding-text p{
    text-align: center;
    width: 65%;
    margin: auto;
    margin-top: 10px;
    color: #686A6F;
    line-height: 1.4em;
    font-family: sans-serif;
}

.musclebuilding-text h3{
    text-align: center;
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 20px;
    color: #FB5B21;
}

.summerdiscount-text h2{
    font-size: 37px;
    margin: auto;
    text-align: center;
    color: white;
    margin-top: 50px;
    font-family: sans-serif;
}

.becomemember-text{
    text-align: center;
}

.summerdiscount-text button{
    margin-top: 20px;
    border: 1px solid #FB5B21;
    background-color: #FB5B21;
    color: white;
    padding:20px 50px;
    border-radius: 5px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
}











































@media  ( max-width:600px ) {

    *{
        /* border: 1px solid rgb(160, 156, 156); */
    }

    body{
        width: 100%;
    }
    header{
    width: 100%;
}

    .nav-bar{
        width: 100%;
        padding: 0;
        display: flex;
        gap: 0;
        flex-direction: column;
    }

    .nav-gymster{
        width: 90%;
        font-size: 20px;
        padding: 0;
        margin-top:20px;
        margin-left: 5px;
    }

    .nav-box2{
        font-size: 9px;
        margin-top: 10px;
        gap: 8px;
    }

    .nav-join{
        padding: 5px 5px ;
        background-color: #FB5B21;
        color: white;
        font-size: 13px;
        border: 1px solid #FB5B21;
        cursor: pointer;
        border-radius: 4px;
        margin-top: 10px;
        font-family: sans-serif;
        margin-left: 5px;
        text-align: center;
        width: 25%;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .ppp{
        display: flex;
        flex-direction: column;
    }

    .header-gym1 h2{
        font-size: 11px;
        /* margin-bottom: 100px; */
        color: white;
        text-align: none;
        margin: 0;
        
    }
    .header-gym1 h1{
        font-size: 25px;
        color: white;
    }

    .header-gym{
        background-position: 50%;
        background-size: cover;
        height: 100px;
        width: 100%;
        padding-bottom: 190px;
        margin-bottom: 0;
        padding-top: 10px;

    }

    .nav-box1{
      display: none;
    }
    
    .header-button{
        display: flex;
        justify-content: center;
        margin-top: 15px;
        width: 60%;
        margin-left: 70px;
    }
    

    .header-button1{
        background-color: #FB5B21;
        padding: 10px 10px;
        margin: auto;
       color: white;
       font-size: 11px;
       font-family: sans-serif;
       text-transform: uppercase;
       border-radius: 5px;
       cursor: pointer;
       }
       
       .header-button2{
           padding: 10px 10px;
       font-size: 11px;
       font-family: sans-serif;
       text-transform: uppercase;
       border-radius: 5px;
       background-color: #F6F7F9;
       cursor: pointer;
       
       }
 
  
    .first-sect{
        margin-bottom: 10px;
        width: 100%;
        padding-bottom: 0;
    }   
    .about-gymster { 
        display:flex;
        flex-direction: column;
        gap: 0px;
        width: 90%;
        height: 1000px;
        width: 100%;
    }
    
    .about-gymster img{
        width: 300px;
        /* display: none; */
        margin-left: 35px;
        margin-top: 20px;
    }

    .about-gymster h3{
        text-transform: uppercase;
        color: #FB5B21;
        font-size: 20px;
        font-family: sans-serif;
        font-weight: 50;
        margin-top: 10px;
        width: 95%;
        margin-left: 10px;
        
    }
    
    .about-gymster h2{
        text-transform: uppercase;
        font-size: 20px;
        color: #222429;
        font-family: sans-serif;
        margin-top: 10px;
        width: 95%;
        margin-left: 10px;
    }
    
    #about-p1{
        color: #686A6F;
        font-size: 13px;
        font-family: sans-serif;
        width: 95%;
        margin-left: 10px;
        margin-top: 10px;
        font-weight: 700;
        line-height: 1.4em;
    }
    
    #about-p2{
        color: #686A6F;
        margin-left: 10px;
        font-size: 14px;
        font-family: sans-serif;
        margin-top: 10px;
        width: 100%;
        line-height: 1.4em;
        width: 95%;
    }
    
     .about-us {
        background-color: #222429;
        color: white;
        margin: auto;
        /* height: 00px; */
        margin-top: 10px;
        padding-top: 20px;
        padding-bottom: 20px;


        
    }
    
    .about-h4{
        color: white;
        text-transform: uppercase;
        font-family: sans-serif;
        font-weight: 400;
        display: flex;
        justify-content: center ;
        gap: 50px;
    }
                                                            
    #about-text{
        border: 1px solid #FB5B21;
        background-color: #FB5B21;
        padding: 10px 20px;
        font-size: 12px;
    }
    
    .about-us p{
        color: #c8c9ca;
        line-height: 1.4em;
        font-size: 17px;
        width: 95%;
        padding-left: 20px;
        padding-top: 10px;
        font-size: 13px;
    }
    
    .whychoose-text{
        border: 1px solid ;
        padding: 10px 0px;
        border-style: none;
        font-size: 12px;
        color: #FB5B21;
    } 
    


    .second-sect{
        margin-bottom: 300px;
        background-color: #222429;
        padding-bottom: 00px;
        margin-top: 0;
        margin-top: 0px;
        height: 800px;
    }
     
    .discount-page{
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 90%;
        padding-top: 50px;
    }
    
    .bodybuilding-text{
        border: 1px solid #f4f5f877;
        border-style: none;
        background-image:linear-gradient(#F4F5F8 90%, white) ;
        padding: 20px 1px;
        margin-left: 50px;
    }
    
    .bodybuilding-text h2{
        text-align: center;
        font-family: sans-serif;
        font-size: 20px;
    }
    .bodybuilding-text p{
        text-align: center;
        width: 60%;
        margin: auto;
        margin-top: 10px;
        color: #686A6F;
        line-height: 1.4em;
        font-family: sans-serif;
        font-size: 12px;
    }
    
    .bodybuilding-text h3{
        text-align: center;
        font-family: sans-serif;
        font-weight: 400;
        margin-top: 20px;
        color: #FB5B21;
        font-size: 12px;
    }

    .weightlifting-text{
        border: 1px solid #f4f5f877;
        border-style: none;
        background-image:linear-gradient(#F4F5F8 90%, white) ;
        padding: 20px 1px;
        margin-left: 50px;
    }
    
    .weightlifting-text h2{
        text-align: center;
        font-family: sans-serif;
        font-size: 20px;
    }
    .weightlifting-text p{
        text-align: center;
        width: 60%;
        margin: auto;
        margin-top: 10px;
        color: #686A6F;
        line-height: 1.4em;
        font-family: sans-serif;
        font-size: 12px;
    }
    
    .weightlifting-text h3{
        text-align: center;
        font-family: sans-serif;
        font-weight: 400;
        margin-top: 20px;
        color: #FB5B21;
        font-size: 12px;
    }

    .musclebuilding-text{
        border: 1px solid #f4f5f877;
        border-style: none;
        background-image:linear-gradient(#F4F5F8 90%, white) ;
        padding: 20px 1px;
        margin-left: 50px;
    }
    
    .musclebuilding-text h2{
        text-align: center;
        font-family: sans-serif;
        font-size: 20px;
    }
    .musclebuilding-text p{
        text-align: center;
        width: 60%;
        margin: auto;
        margin-top: 10px;
        color: #686A6F;
        line-height: 1.4em;
        font-family: sans-serif;
        font-size: 12px;
    }
    
    .musclebuilding-text h3{
        text-align: center;
        font-family: sans-serif;
        font-weight: 400;
        margin-top: 20px;
        color: #FB5B21;
        font-size: 12px;
    }

    .summerdiscount-text h2{
        font-size: 20px;
        margin: auto;
        text-align: center;
        color: white;
        margin-top: 50px;
        font-family: sans-serif;
    }
    
    .becomemember-text{
        text-align: center;
    }
    
    .summerdiscount-text button{
        margin-top: 20px;
        border: 1px solid #FB5B21;
        background-color: #FB5B21;
        color: white;
        padding:15px 20px;
        border-radius: 5px;
        font-size: 11px;
        font-family: sans-serif;
        font-weight: 400;
    }
    
    
    
}     


 