*{
    border: 1px solid red;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
}

.nav-bar img {
    width: 90px;
    
}

.nav-login{
    display: flex;
    gap: 10px;
}
.p{
    margin-left: 330px;
}